<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>corgi01</string>
	</dict>
	<dict>
		<key>image</key>
		<string>husky11</string>
	</dict>
	<dict>
		<key>image</key>
		<string>trashpanda</string>
	</dict>
	<dict>
		<key>image</key>
		<string>sammy</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cat1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>golden</string>
	</dict>
	<dict>
		<key>image</key>
		<string>shibe</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bunny01</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cat00</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cat01</string>
	</dict>
</array>
</plist>
